<!DOCTYPE html>
<html>

<head>
  <title>游녽游낖 Haikus GitHub  游닄</title>
  <link href="/css/main.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1 class="top">游녽游낖 Haikus GitHub  游닄</h1>
     <% for (var i = 0; i < haikus.length; i++) { %>
     <div class="haiku-containers">
      <div class="haiku-content">
        <span class="emoji"><%= haikus[i].emoji %></span>
        <p class="haikus"><%= haikus[i].text %></p>
      </div>
      
      </div>
      <% } %>

      <div class="octocat">
        <h2><%= octocat.name %></h2>
        <img class="mona-images" src="<%= octocat.url %>" alt="<%= octocat.name %>">
        <p><%= octocat.haiku %></p>
        <p><em>Author: <%= octocat.author %></em></p>
      </div>

      <div style="text-align: center; margin-top: 20px;">
        <button onclick="window.location.reload()"
          style="padding: 14px 120px; font-size: 16px; background-color: #007BFF; color: white; border: none; border-radius: 30px; cursor: pointer;">
          游댃 &nbsp;<span id="countdown"> 40 &nbsp;&nbsp;&nbsp; </span> &nbsp;&nbsp;&nbsp; 游녤 &nbsp;Actualizar ahora
        </button>
      </div>

      <!-- Temporizador visible -->
      <!-- <div id="timer" style="text-align: center; margin-top: 20px; font-size: 18px;">
      游녤 La p치gina se recargar치 en <span id="countdown">40</span> segundos 游뎷.
    </div> -->


      <!-- Script para recargar la p치gina y actualizar el temporizador -->
      <script>
        let countdown = 40; // Tiempo en segundos
        const countdownElement = document.getElementById('countdown');

        const interval = setInterval(() => {
          countdown--;
          countdownElement.textContent = countdown;

          if (countdown <= 0) {
            clearInterval(interval);
            window.location.reload(); // Recarga la p치gina
          }
        }, 1000); // Actualiza cada segundo
      </script>
      <footer style="margin-top: 18px; padding: 4px; background-color: #333; color: #fff; text-align: center;">
      
        <p>Haikus GitHub.</p>
        <p>&copy; 2025 Latam.</p>
      </footer>
</body>

</html>